DATABASE_URL="mongodb://<username>:<password>@ac-1edplrg-shard-00-00.kklhgn7.mongodb.net:27017,ac-1edplrg-shard-00-01.kklhgn7.mongodb.net:27017,ac-1edplrg-shard-00-02.kklhgn7.mongodb.net:27017/keu?ssl=true&replicaSet=atlas-mtsmr9-shard-0&authSource=admin&retryWrites=true&w=majority&appName=ClusterAws"