extends layout

block content
  script(src='https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js')

  h1= title + ' ' + tahun
  p(style='margin-botton: 25px')

  div#main(style='height: 400px;')

  script.
    // Fetch data from the API
    fetch('/report/keuangan/#{tahun}')
      .then(response => response.json())
      .then(data => {
        // Initialize the chart
        var myChart = echarts.init(document.getElementById('main'));

        // Use the specified configuration to display the chart
        myChart.setOption(data);
      })
      .catch(error => console.error('Error fetching data:', error));